@{
    ViewBag.Title = "About";
}
<form  method="get">

    <fieldset>
        Kategori Seçiniz<select style="margin-top:14px" id="MovieType" name="MovieType" class="form-control">

            <option value=Tıklayınız</option>

            <option value="1">Action</option>

            <option value="2">Drama</option>

            <option value="3">Comedy</option>

            <option value="4">Science Fiction</option>

        </select>


    </fieldset>

</form>